.movieItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movieItem:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.movieImage {
  width: 100px;
  height: 150px;
  margin-right: 20px;
  transition: opacity 0.3s ease;
}

.movieImage:hover {
  opacity: 0.8;
}

.movieTitle {
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.movieItem:hover .movieTitle {
  color: #007bff;
}
